.contact-all{
    overflow: hidden;
    .details{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .location{
      margin: auto;
    }
    .location:hover{
        transform: scale(1.09); /* Slightly enlarges the card */
    }
    .location .location-icon{
        margin: auto;
    }
    .location-icon{
        background-color: #ef7a54;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    // .location .location-icon:hover{
    //     background-color: white;
    //     border: 1px solid #ef7a54;   

    // }
    .loc-icon{
        color: #fff;
        font-size: 55px;
    }
    // .location .loc-icon:hover{
    //     color: #ef7a54;
    // }
    
    .location-label{
        margin-top: 15%;
        text-align: center;
        
    }
    .location-label h3{
        font-family: "Sansita", sans-serif;
        color: #055346;
        font-weight: 600;
    }
    .location-label p{
        font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(89, 85, 85);
  font-style: normal;
    }
    @media (max-width:576px){
        .details{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            padding-top: 12%;
            padding-bottom: 6%;
        }
        .location{
            margin: auto;
            width: 100%;
            padding-bottom: 10%;
          }
          .location-label{
            margin-top: 8%;
            text-align: center;
            
        }
    }
}